.video-box {
  position: relative; /* absolute는 부모가 relative일 때 부모를 따라간다. */
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 비율 */
  margin-top: 4%;
  z-index: -1;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* 부모에 맞게 꽉 채운다. */
  height: 100%;
  z-index: -1;
}

.opacity {
  opacity: 1;
}

.video-text {
  font-size: 4rem;
  left: 3%;
  position: absolute;
  top: 55%;
  color: white;
}
.overview {
  font-size: 1.65rem;
  padding: 0.5rem 0;
  width: 40%;
  color: white;
}
.button {
  border-radius: 10px;
  font-size: 1.2rem;
  margin-right: 20px;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  width: 150px;
}

@media screen and (max-width: 479px) {
  .video-box {
    padding-bottom: 56.25%; /* 16:9 비율 */
    margin-top: 15%;
    z-index: -1;
  }
  .video-text {
    font-size: 1.5rem;
    top: 55%;
  }
  .overview {
    font-size: 0.5rem;
    width: 40%;
  }
}
@media screen and (min-width: 480px) and (max-width: 1023px) {
  .video-text {
    font-size: 2.2rem;
    top: 55%;
  }
  .overview {
    font-size: 1rem;
    width: 40%;
  }
}

@media screen and (min-width: 1024px) {
  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* 부모에 맞게 꽉 채운다. */
    height: 100%;
    z-index: -1;
  }

  .video-text {
    font-size: 5rem;
    top: 55%;
  }
  .overview {
    font-size: 1.5rem;
    width: 40%;
  }
}
